<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="https://www.gmu.edu/">
    <img src="/images/Header_logo_George-Mason-University-2024_0.png" alt="Header logo George Mason University" width="200" height="150">
</a>
    <h1>John Jay</h1>
    Instructor at George Mason University
    <hr>
    <h2>Education</h2>
    MBA at Wharton School of Business
    <hr>
    <h2>Interest</h2>
    <ul>
        <li>Military Intelligence</li>
        <li>NASA</li>
        <li>Circuit</li>
        <li>Baseball</li>
    </ul>
</body>
</html>